@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
:root {
  --primary_text_color: #3a3a3a;
  --secondary_color: #e02c6d;
}
button {
  cursor: pointer;
}
/* header */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
header {
  padding: 80px 120px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > h2 {
  color: var(--primary_text_color);
  font-size: 2.4rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 34px;
}
nav ul li a {
  text-decoration: none;
  color: var(--primary_text_color);
  font-size: 1.6rem;
  font-weight: 600;
}
.search,
.cart {
  width: 30px;
  height: 30px;
  display: block;
}
/* banner */
.banner {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}
.banner_left > h2 {
  color: var(--primary_text_color);
  font-size: 5.2rem;
  font-weight: 700;
}
.banner_left > p {
  color: var(--primary_text_color);
  font-size: 1.6rem;
  margin: 16px 0;
}
.custom_btn {
  padding: 10px 24px;
  background-color: var(--secondary_color);
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}
.custom_btn i {
  margin-left: 10px;
  font-size: 1.6rem;
}
.banner_right {
  background-image: url(../images/circle.svg);
  background-size: 95%, 100%;
  background-repeat: no-repeat;
}

/* sponsors */
.sponsors {
  padding: 0 140px;
  margin-top: 60px;
}
hr {
  color: lightgray;
}
.sponsers_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
}
/* popular_collection */
.popular_collection {
  margin-top: 100px;
  padding: 0 180px;
}
.popular_collection > h2 {
  font-size: 2.8rem;
  color: var(--primary_text_color);
  text-align: center;
  font-weight: 600;
}
.box_holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.box {
  padding: 20px 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.gear_name {
  color: #18191f;
  font-size: 2.8rem;
  font-weight: 500;
}
.price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 2.4rem;
}
.ratting i {
  color: #fb8200;
  font-size: 12px;
}
.ratting span {
  color: #5e6366;
  font-size: 1.4rem;
  font-weight: 700;
  display: inline-block;
  margin-left: 8px;
}
.gear_description {
  color: #787885;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 700;
}
.see_more {
  margin-top: 50px;
}
.see_more a {
  color: var(--secondary_color);
  font-size: 1.6rem;
  font-weight: 700;
  text-align: end;
  text-decoration: none;
  display: block;
}
.see_more i {
  margin-left: 10px;
  font-size: 16px;
}
/* features_product */
.features_product {
  margin-top: 100px;
  padding: 0 140px;
}
.features_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.features_right h2 {
  color: #0a0826;
  font-size: 3.8rem;
  font-weight: 700;
}
.features_right p {
  color: #6c6c6c;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 16px 0;
}
.btn2 {
  border-radius: 0;
}
/* footer */
footer {
  margin-top: 100px;
  padding: 50px 0;
  text-align: center;
  background-color: #0a0826;
}
footer > h2 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}
footer p {
  color: #d9dbe1;
  font-size: 1.4rem;
  font-weight: 700;
}
.social {
  margin-top: 20px;
}
.social img {
  height: 32px;
  width: 32px;
  margin-right: 16px;
}

/* responsive for mobile*/
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  nav > ul {
    margin-top: 25px;
  }
  nav ul li {
    margin-right: 15px;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .banner_right img {
    width: 100%;
  }
  .banner_left {
    text-align: center;
  }
  .banner_left > h2 {
    font-size: 3rem;
  }
  .sponsors {
    padding: 0 20px;
    margin-top: 0px;
  }
  hr {
    display: none;
  }
  .sponsers_img {
    flex-wrap: wrap;
    gap: 5px;
  }
  .popular_collection {
    margin-top: 0px;
    padding: 0 20px;
  }
  .box_holder {
    grid-template-columns: repeat(1, 1fr);
  }
  .box img {
    width: 100%;
  }
  .gear_description {
    width: 196px;
  }
  .features_product {
    margin-top: 50px;
    padding: 0 20px;
  }
  .features_row {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .features_right h2 {
    font-size: 2.8rem;
  }
  .features_right {
    text-align: center;
  }
  .features_left img {
    width: 100%;
  }
  footer {
    margin-top: 50px;
  }
}
/* responsive for tablets and medium devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  nav > ul {
    margin-top: 25px;
  }
  nav ul li {
    margin-right: 30px;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .banner_right img {
    width: 100%;
  }
  .banner_left {
    text-align: center;
  }
  .banner_left > h2 {
    font-size: 3rem;
  }
  .banner_left > p {
    width: 450px;
    margin: 16px auto;
  }
  .sponsors {
    padding: 0 20px;
    margin-top: 30px;
  }
  .sponsers_img {
    flex-wrap: wrap;
    gap: 15px;
  }
  .popular_collection {
    margin-top: 50px;
    padding: 0 20px;
  }
  .box_holder {
    grid-template-columns: repeat(2, 1fr);
  }
  .box img {
    width: 100%;
  }
  .see_more a {
    text-align: start;
  }
  .gear_description {
    width: 196px;
  }
  .features_product {
    margin-top: 50px;
    padding: 0 20px;
  }
  .features_row {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .features_right h2 {
    font-size: 2.8rem;
  }
  .features_right p {
    width: 550px;
  }
  .features_right {
    text-align: center;
  }
  .features_left {
    width: 100%;
  }
  .features_left img {
    width: 100%;
  }
  footer {
    margin-top: 50px;
  }
}
